.cadre_tentative{
	border: 2px solid #111111 ;
	border-radius: 5px;
	background-color:#BFBFBF;
	padding: 5px;
}

.cadre_tentative img{
	margin: 5px;
}

.cadre_tentative strong{
	display: inline-block;
	width: 80px;
	margin-right: 5px;
	text-align: right;
}

.cadre_tentative ul li{
	clear: none
}

span.img{
	display: none;
}

td:hover span.img{
	display: inline-block;
}

.col-md-3{
	margin : 5px 0;
}